.seller_earnings {
    height: 15rem;
    width: 31rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0.9,0,0,0.9);
}

.earnings-title {
    font-size: 2rem;
    font-weight: bolder;
}

.earnings-text {
    font-size: 1.5rem;
}

.earnings_amount {
    font-weight: bolder;
}

.percentIncrease {
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 70%;
    background-color: #87a811;
}

.circle-text {
    vertical-align: middle;
    display: inline-block;
    margin-top: 40%;
    font-size: 1.5rem;
}